.container {
	width:960px;
	
}
body {
	background: #00694E;
}

header {
	padding-top:1px;
}

header img{
	padding:.5em;
	background:#fff;
}

section {
	margin-top: .5em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
	margin-bottom:1em;
	padding-bottom:50px;
}

section h1{
	font-size: 200%;
}

a {
	color: #0618c2;
	text-decoration: none;
}

a:hover{
	color: #0618c2;
	text-decoration:underline;
}

a:visited {
	color: #0618c2;
}

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #0618c2;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button{
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align:center;
	width: 190px;
	color:#fff;
	background:#006400;
	font-size: 150%;
	font-weight:bold;
	padding:20px;
}

/* Round corners */

.round {
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}

/* Footer styles */

footer {
	text-align:center;
	margin-top:10px;
	width:710px;
	margin-left:auto;
	margin-right:auto;
}

footer nav{
	float: none;
}


div.field, div.actions {
	margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
div.images_picture{
	width:366px;
	height:500px;
	float:left;
	margin-left: 55px;
	border-width: 2px;
	margin-top:5px;
	border-style:solid;
	border-color:#00694E;
}

div.clear {
	clear:both;
}
#title_tag{
	width:555px;
}
#title_tag a{
	color: black;
	text-decoration:underline
}
#title_tag a:hover{
	color: #fff;
}
div.vote{
	text-align:center;
	margin-left:140px;
}
a.vote{
	color:#fff;
}
input[type="submit"]{
	background: #222;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	text-align:center;
}
input[type="file"]{
	background: #00694E;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	text-align:center;
}
div.awesome{
	background: #222;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	text-align:center;
}
div.success{
	width: 150px;
	text-align: center;
	margin: 0 auto;
	padding:.2em;
}
p.front {
	font-family:helvetica;
	font-size:17px;
}

div.images_all{
	text-align:center;
}

div.social{
	float:right;
	width:250px;
	text-align:center;
	height:50px;
	margin-top:4px;
}

input[type="text"]{
	padding:2px 10px 10px 2px;
	font-size:18px;
}