<p>
	Upload a person that you would like to get voted on. All submissions are anonymous. 
</p>
<%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <div class="field">
	<%= f.file_field :photo %>
  </div>
	<div class="actions">
		<%= f.submit "Submit Picture" %>
	</div>
<% end %>