<p></p>
<h1 style="text-align:center;">
	Top Voted Images
</h1>
<% @products.each do |product| %>
	
	<div class ="images_all">
	<%= link_to (image_tag(product.photo.url, :size => "366x500")), product_path(product.id), :method => :put, :title => "Vote for this image"  %>
</div>
	
<% end %>